@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    margin: 20px 100px;
}

ul {
    width: 300px;
    list-style: none;
}

li {
    padding: 10px;
}

li:first-child {
    color: #E25C33;
}

.summary {
    background-color: #E7EBFC;
    padding: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form {
    padding: 30px 200px 0 100px ;
    border: solid #C1C8E4 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1 {
    text-align: center;
}

h1, h3, li {
    color: #6511D0;
}

h2, h4 {
    padding: 10px 0;
    color: #5680E9;
}

h3 {
    padding: 10px 0 5px;
}

h5 {
    font-style: italic;
    color: #787472;
}

p {
    padding: 30px 0;
}

input {
    margin: 5px 0;
    padding-left: 10px;
}

[type="text"], [type="number"], [type="email"] {
    height: 37px;
    width: 597px;
    border: none;
    border-radius: 10px;
    background-color: #E7EBFC;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 30px 0;
    padding: 5px;
    height: 33px;
    width: 260px;
    background-color: #E25C33;
    color: #FFFF;
    border-radius: 15px;
    border: none;
}

textarea {
    margin: 5px 0;
    padding-left: 10px;
    min-width: 597px;
    max-width: 597px;
    border: none;
    border-radius: 10px;
    background-color: #E7EBFC;
}

.screen2, .screen3, .screen4, .screen5, .screen6, .screen7, .screen8, .screen9, .screen10, .screen11, .screen12 {
    display: none;
}

/* SCREEN 1 */

.address_co-employer {
    display: none;
}

/* SCREEN 3 */

.remplacement_name, .cdd-question2, .cdd-question3, .info_cdd {
    display: none;
}

/* SCREEN 4 */

.yes_engagement_letter, .trial_period, .yes_trial_period, .trial_renewable, .yes_trial_renewable, .hiring_date, .contract_trial_period, .yes_contract_trial_period, .contract_trial_renewable, .yes_contract_trial_renewable {
    display: none;
}

/* SCREEN 6 */

/* Domaine enfant */

.function_child1, .function_child2, .function_child3, .function_child4, .yes_child-clothes, .yes_child-homework, .yes_child-cleaning, .yes_children, .no_children {
    display: none;
}

/* Domaine Adulte */

.function_adult1, .function_adult2, .function_adult3, .function_adult4, .function_adult5, .yes_disabled1, .yes_disabled2, .yes_disabled3, .yes_disabled4, .yes_disabled5, .no_disabled5 {
    display: none;
}

/* Domaine espase de vie */

.function_lifespace1, .function_lifespace2, .function_lifespace3, .function_lifespace4, .function_lifespace5, .function_lifespace6, .yes_lifespace1, .yes_lifespace2, .yes_lifespace3, .yes_lifespace4, .yes_lifespace5, .yes_lifespace6, .no_lifespace6 {
    display: none;
}

/* Domaine environnement exterieur */

.function_outside1, .yes_outside1, .no_outside1, .no_outside2, .no_outside3, .yes_outside2-3, .no_outside4, .yes_outside4 {
    display: none;
}

/* SCREEN 7 */

.yes_working_time1, .yes_working_time2, .no_working_time1, .no_working_time2 {
    display: none;
}

/* SCREEN 8 */

.responsible_night {
    padding: 30px 0;
}

.yes_patient-care, .nightHours1, .nightHours2 {
    display: none;
}

/* SCREEN 9 */

.good_friday, .abolition_slavery, .december26th, .yes_declared_cesu {
    display: none;
}

/* SCREEN 10 */

#shared_custody, .yes_shared-custody {
    display: none;
}

/* SCREEN 12 */

.yes-driving {
    display: none;
}

/* -------------TABLET/PHONE------------------ */
@media (max-width: 1023px) {
    .container {
        margin: 10px 30px;
    }

    .summary {
        display: none;
    }

    .form {
        padding: 10px 30px 0 30px ;
        border-radius: 10px;
    }

    input {
        margin: 5px 0;
        padding-left: 10px;
    }
    
    [type="text"], [type="number"], [type="email"] {
        height: 30px;
        width: 100%;
        border-radius: 5px;
    }

    button {
        margin: 30px 0;
        padding: 5px;
        height: 30px;
        width: 130px;
        border-radius: 10px;
        font-size: 10px;
    }
    
    textarea {
        margin: 5px 0;
        padding-left: 10px;
        min-width: 597px;
        max-width: 597px;
        border-radius: 5px;
    }
}





